{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>eDiary Management System</title>
    <!--favicon-->
    <link rel="icon" href="{% static 'assets/images/logo-icon.png' %}" type="image/png"/>
    <!-- Vector CSS -->
    <link href="{% static 'assets/plugins/vectormap/jquery-jvectormap-2.0.2.css' %}" rel="stylesheet"/>
    <!--plugins-->
    <link href="{% static 'assets/plugins/simplebar/css/simplebar.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/metismenu/css/metisMenu.min.css' %}" rel="stylesheet"/>
    <!-- loader-->
    <link href="{% static 'assets/css/pace.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'assets/js/pace.min.js' %}"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&amp;family=Roboto&amp;display=swap"/>
    <!-- Icons CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}"/>
    <!-- App CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/app.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/dark-sidebar.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/dark-theme.css' %}"/>
</head>

<body>
<!-- wrapper -->
<div class="wrapper">
    <!--sidebar-wrapper-->
    <div class="sidebar-wrapper" data-simplebar="true">
        <div class="sidebar-header">
            <div class="">
                <img src="{% static 'assets/images/logo-icon.png' %}" class="logo-icon-2" alt=""/>
            </div>
            <div>
                <h4 class="logo-text">e-Diary</h4>
            </div>
            <a href="javascript:;" class="toggle-btn ms-auto"> <i class="bx bx-menu"></i>
            </a>
        </div>
        <!--navigation-->
        <ul class="metismenu" id="menu">

            <li>
                <a href="{% url 'registration' %}">
                    <div class="parent-icon icon-color-8"><i class="bx bx-user-circle"></i>
                    </div>
                    <div class="menu-title">Registration</div>
                </a>
            </li>

            <li>
                <a href="{% url 'user_login' %}">
                    <div class="parent-icon icon-color-8"><i class="bx bx-repeat"></i>
                    </div>
                    <div class="menu-title">Login</div>
                </a>
            </li>
        </ul>
        <!--end navigation-->
    </div>
    <!--end sidebar-wrapper-->

    <!--header-->
    <header class="top-header">
        <nav class="navbar navbar-expand">
            <div class="left-topbar d-flex align-items-center">
                <a href="javascript:;" class="toggle-btn"> <i class="bx bx-menu"></i>
                </a>
            </div>
            <div class="flex-grow-1 search-bar">
                <div class="input-group">
                    <center><h3 class="text-danger">e-Diary Management System</h3></center>
                </div>
            </div>
            <div class="right-topbar ms-auto">
                <ul class="navbar-nav">

                </ul>
            </div>
        </nav>
    </header>
    <!--end header-->

    {% block main %}

    {% endblock %}

    <!--start overlay-->
    <div class="overlay toggle-btn-mobile"></div>
    <!--end overlay-->
    <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>

    <!--footer -->
    <div class="footer">
        <p class="mb-0">e-Diary Management System &copy;
            <script>document.write(new Date().getFullYear());</script>
            .
        </p>
    </div>
    <!-- end footer -->
</div>
<!-- end wrapper -->
<!--start switcher-->
<div class="switcher-body">
    <button class="btn btn-primary btn-switcher shadow-sm" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><i class="bx bx-cog bx-spin"></i>
    </button>
    <div class="offcanvas offcanvas-end shadow border-start-0 p-2" data-bs-scroll="true" data-bs-backdrop="false"
         tabindex="-1" id="offcanvasScrolling">
        <div class="offcanvas-header border-bottom">
            <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Theme Customizer</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <h6 class="mb-0">Theme Variation</h6>
            <hr>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="lightmode" value="option1"
                       checked>
                <label class="form-check-label" for="lightmode">Light</label>
            </div>
            <hr>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="darkmode" value="option2">
                <label class="form-check-label" for="darkmode">Dark</label>
            </div>
            <hr>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="darksidebar" value="option3">
                <label class="form-check-label" for="darksidebar">Semi Dark</label>
            </div>
            <hr>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="ColorLessIcons"
                       value="option3">
                <label class="form-check-label" for="ColorLessIcons">Color Less Icons</label>
            </div>
        </div>
    </div>
</div>
<!--end switcher-->
<!-- JavaScript -->

<!-- Bootstrap JS -->
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

<!--plugins-->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/plugins/simplebar/js/simplebar.min.js' %}"></script>
<script src="{% static 'assets/plugins/metismenu/js/metisMenu.min.js' %}"></script>
<script src="{% static 'assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js' %}"></script>
<!-- Vector map JavaScript -->
<script src="{% static 'assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js' %}"></script>
<script src="{% static 'assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
<script src="{% static 'assets/plugins/vectormap/jquery-jvectormap-in-mill.js' %}"></script>
<script src="{% static 'assets/plugins/vectormap/jquery-jvectormap-us-aea-en.js' %}"></script>
<script src="{% static 'assets/plugins/vectormap/jquery-jvectormap-uk-mill-en.js' %}"></script>
<script src="{% static 'assets/plugins/vectormap/jquery-jvectormap-au-mill.js' %}"></script>
<script src="{% static 'assets/plugins/apexcharts-bundle/js/apexcharts.min.js' %}"></script>
<script src="{% static 'assets/js/index.js' %}"></script>
<!-- App JS -->
<script src="{% static 'assets/js/app.js' %}"></script>

<script>
		new PerfectScrollbar('.dashboard-social-list');
		new PerfectScrollbar('.dashboard-top-countries');

</script>
</body>
</html>