{% extends 'userbase.html' %}
{% load static %}
{% block main %}
<div class="page-wrapper">
    <!--page-content-wrapper-->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!--breadcrumb-->
            <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
                <div class="breadcrumb-title pe-3">Category</div>
                <div class="ps-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item"><a href="{% url 'user_home' %}"><i class="bx bx-home-alt"></i></a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Edit Category</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!--end breadcrumb-->

            <div class="row">
                <div class="radius-15 col-xl-12 mx-auto">

                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                <h4 class="mb-0">Edit Category</h4>
                            </div>
                            <hr>
                            <form method="post">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label class="form-label">Category Name</label>
                                    <input type="text" name="categoryName" class="form-control" value="{{category.categoryName}}">
                                </div>
                                <div class="mb-3">
                                    <button type="submit" class="btn btn-primary px-5">Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% if error == "no" %}
<script>
    alert('Category has been Updated.');
    window.location=('{% url 'manageCategory' %}');
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert('Something went Wrong. Try Again...');
</script>
{% endif %}

{% endblock %}