{% extends 'userbase.html' %}
{% load static %}
{% block main %}
<div class="page-wrapper">
    <!--page-content-wrapper-->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!--breadcrumb-->
            <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
                <div class="breadcrumb-title pe-3">Notes Details</div>
                <div class="ps-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item"><a href="{% url 'user_home' %}"><i
                                    class="bx bx-home-alt"></i></a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Notes Details</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!--end breadcrumb-->

            <div class="row">
                <div class="card radius-15 col-xl-12">
                    <div class="card-body">
                        <div class="card-title">
                            <h4 class="mb-0">Notes Details</h4>
                        </div>
                        <hr/>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                <tr>
                                    <th>Notes Title</th>
                                    <td>{{notes.noteTitle}}</td>
                                </tr>
                                <tr>
                                    <th>Notes Category</th>
                                    <td>{{notes.category.categoryName}}</td>
                                </tr>
                                <tr>
                                    <th>Notes Creation Date</th>
                                    <td>{{notes.CreationDate}}</td>
                                </tr>
                                <tr>
                                    <th>Notes Details</th>
                                    <td>{{notes.noteDescription}}</td>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card radius-15 col-xl-12">
                    <div class="card-body">
                        <div class="card-title">
                            <h4 class="mb-0">Notes Details</h4>
                        </div>
                        <hr/>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                <tr>
                                    <th>S No.</th>
                                    <th>Notes Details</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for i in noteshistory %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{i.noteDetails}}</td>
                                    <td>{{i.postingDate}}</td>
                                    <td><a href="{% url 'deleteNotesHistory' i.id %}" onclick="return confirm('Are you sure to Delete')" class="btn btn-danger">Delete</a></td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div align="center">
                <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Add
                    More Notes
                </button>
            </div>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <form method="post" name="takeaction">
                        {% csrf_token %}
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add Note Details</h5>
                            </div>
                            <div class="modal-body">
                                <p><textarea class="form-control" name="noteDetails"
                                              placeholder="Enter Note Details" rows="5" required></textarea></p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Close</button>
                                <button class="btn btn-primary" type="submit" name="submit">Save changes</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

{% if error == "no" %}
<script>
    alert('Notes Details has been Added.');
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert('Something went Wrong. Try Again...');
</script>
{% endif %}

{% endblock %}